.page-content {


    .section-descriptions {
        width: 20rem;
        max-width: 30rem;
    }

    .media-container {
        display: flex;
        flex-flow: row;
        gap: 1rem;


        .vjs-container {
            flex-grow: 2;
        }

        .player-input {
            flex-grow: 1;


            .source-change-input {
                display: flex;
                width: 100%;
            }
        }
        
    }
}   